RewriteEngine on

ErrorDocument 403 http://www.digitalrocketry.com/error/403
ErrorDocument 404 http://www.digitalrocketry.com/error/404
ErrorDocument 500 http://www.digitalrocketry.com/error/500

# gzip all content when serving
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [L]

RewriteEngine on
# redirect malicious bots with a user agent of libwww-perl.*
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteRule .* – [F,L]

RewriteEngine on
# redirect a user accessing the site's ip address to digitalrocketry.com
RewriteCond %{HTTP_HOST} ^208\.094\.116\.049
RewriteRule (.*) http://digitalrocketry.com/$1 [R=301,L]

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 month"
</IfModule>
## EXPIRES CACHING ##

# remove the file extension from php files
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^/resume$ $1.html [L]
